<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Faculties</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
</head>
<body ng-app="faculties_form" ng-controller="FacultyCtrl">
<p1 data-ng-init="getFaculties()">Hello world</p1>

<table ng-model="faculties">
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    <tr ng-repeat="faculty in faculties">
        <td>{{faculty.id}}</td>
        <td>{{faculty.name}}</td>
    </tr>
</table>
<script>
    angular.module("faculties_form",[])
        .controller("FacultyCtrl", function ($scope, $http) {
            console.log("facultyCtrl")
            $scope.faculties = [];
            $scope.getFaculties = function(){
                $http({method: 'GET', url: '/api/faculty'}).
                then(function success(response) {
                    $scope.faculties=response.data.faculties;
                });
            }
        });
</script>


</body>
</html>

</body>
